{% extends "qraz/base.html" %}

{% block content %}
<div class="container" role="main" ng-controller="PresentationsController" ng-cloak>
  <div class="page-header">
    <h1>Presentations</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Filter by name" ng-model="searchName">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                <span ng-show="!sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortReverse" class="fa fa-caret-up"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
      <div class="list-group">
        <a href="{$ pres.url $}" class="list-group-item" ng-repeat="pres in presentations | orderBy:'fullname':sortReverse | filter:{name:searchName}">
          <span class="fa fa-play-circle"></span>
          {$ pres.fullname $}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
