{% extends "water/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
        Water
      </a>
    </div>
  </div>
</nav>
<div class="container main">
  {% csrf_token %}
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {% trans 'Your username and password did not match. Please try again.' %}
  </div>
  {% endif %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% if user.is_authenticated %}
  <div class="alert alert-warning" role="alert">
    {% trans 'Your account does not have access to this page. To proceed, please login with an account that has access.' %}
  </div>
  {% else %}
  <div class="alert alert-info" role="alert">
    {% trans 'Please login to see this page.' %}
  </div>
  {% endif %}
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <strong>{% trans 'Sign In' %}</strong>
      </h3>
    </div>
    <div class="panel-body">
      {% crispy form form.helper %}
    </div>
  </div>
</div>
{% endblock %}
